---
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";

const pageTitle = "Blog";
---

<html>
  <head><title>{pageTitle}</title></head>
  <body>
    <Navigation />
    <div class="bodyDiv">
      <h1>{pageTitle} Page</h1>

      <h4>Posts:</h4>
      <a href="/posts/post-1">Post 1</a>
      <a href="/posts/post-2">Post 2</a>
      <a href="/posts/post-3">Post 3</a>
    </div>
    <Footer />
  </body>
</html>
