---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPostsNavbar from "../components/BlogPostsNavbar.astro";

const pageTitle = "Blog";
---

<html>
  <body>
    <BaseLayout pageTitle={pageTitle}>
      <BlogPostsNavbar />
    </BaseLayout>
  </body>
</html>
