---
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";

const pageTitle = "Astro Learning Project";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <Navigation />
    <div class="bodyDiv">
      <h1
        style="width: 100%;
      font-size: 2rem;
      font-weight: 700;
      color: crimson;
      background-color: yellowgreen;"
      >
        {pageTitle}
      </h1>
    </div>
    <Footer />
  </body>
</html>
