---
import "../styles/global.css";
---

<navbar class="navbar">
  <a href="/" class="navItem">Home</a>
  <a href="/about" class="navItem">About Us</a>
  <a href="/blog" class="navItem">Blog</a>
  <a href="/tags" class="navItem">Tags</a>
</navbar>
