---
import BaseLayout from "./BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";

const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <div>
    <BlogPost />
    <hr />
    <h1>{frontmatter.title}</h1>
    <p style="margin: 1rem 0;">
      Published on: <strong>{frontmatter.pubDate?.slice(0, 10)}</strong>
    </p>
    <slot />
  </div>
</BaseLayout>
